<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
    <script language="javascript">
        $(document).ready(function () {
            $('#StartDate').datepicker();
            $('#EndDate').datepicker();
        });
</script>
</header>

<div id="body">
  @using(Html.BeginForm())
  {
  <fieldset>
    <legend>Event Information</legend>
     <p>
        <label for="EventName">Event Name:</label>
        @Html.TextBox("EventName")
            </p>
            <p>
            <label for="StartDate">Start Date:</label>
            @Html.TextBox("StartDate")
            </p>
            <p>
            <label for="EndDate">End Date:</label>
            @Html.TextBox("EndDate")
            </p>
            <p>
                <input type="submit" value="Save" />
            </p>
  </fieldset>
}

</div>
